<div class="container-fluid" ng-app="ridewithbernie">
  <div ng-app="ridewithbernie">
    <div class="view-container">
      <div ng-view class="view-frame animate-view"></div>
    </div>
  </div>
</div>
