<div class="row instructions">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    
    <div class='header'>
      <small>Find your event</small>
    </div>
    
    <a href='/#/events' class='btn btn-info btn-sm'>&laquo; Back</a>
  
    <p class='lead text-center'>Get your rideshare link!</p>
    
    <table class='bump'>
      <tr>
        <td>
          <span class='big-number'>1</span>
        </td>
        <td>Find your event on the map.</td>
      </tr>
      <tr>
        <td>
          <span class='big-number'>2</span>
        </td>
        <td>Click the blue CARPOOL button.</td>
      </tr>
      <tr>
        <td>
          <span class='big-number'>3</span>
        </td>
        <td>Copy/Save the URL in your browser's address bar. That's your rideshare link!</td>
      </tr>
      <tr>
        <td>
          <span class='big-number'>2</span>
        </td>
        <td>Post/share the rideshare link for attendees to sign up.</td>
      </tr>
      <tr>
        <td>
          <span class='big-number'>4</span>
        </td>
        <td>Attendees will sign up and send their contact info through the site, then coordinate ridesharing via text/phone!</td>
      </tr>
    </table>
    <p>
      <a href='http://bernie2016events.org' class='btn btn-success btn-block btn-lg' target='blank'>Find your event on the map</a>
    </p>
  </div>
</div>