<div class="row instructions">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  
    <div class='header'>
      <small>Find your event</small>
    </div>
    
    <a href='/#/' class='btn btn-info btn-sm'>&laquo; Home</a>
    
    <p class='lead text-center'>Is your event on the Bernie event map?</p>
  
    <p class='bump'>
      <a href='/#/events/refer' class='btn btn-success btn-block btn-lg'>Yes!</a>
    </p>
    <p>
      <a href="/#/events/intro" class='btn btn-danger btn-block btn-lg'>No</a>
    </p>
    <p>
      <a href='http://bernie2016events.org' class='btn btn-default btn-block btn-lg' target='blank'>Not sure? Check the map</a>
    </p>
    <p class='text-center'>
      <small> If you created your event at <a href="https://go.berniesanders.com/page/event/create" target='_blank'>berniesanders.com</a>,<br/> then it should be on the map.</small>
    </p>
      
  </div> 
</div>