<div class="row instructions">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <p class='lead text-center'>Ride with Bernie</p>
      
    <table>
      <tr>
        <td>
          <span class='big-number'>1</span>
        </td>
        <td>Head to <a href='http://map.berniesanders.com/'>map.berniesanders.com</a>.</td>
      </tr>
      <tr>
        <td>
          <span class='big-number'>2</span>
        </td>
        <td>Find a nearby volunteer event.</td>
      </tr>
      <tr>
        <td>
          <span class='big-number'>3</span>
        </td>
        <td>Click the "Rideshare" button!</td>
      </tr>
    </table>
    <br>
    <p>
      <a href='http://map.berniesanders.com/' class='btn btn-success btn-block btn-lg'>Find an event</a>
    </p>

    <p class='text-center'>
      <a href='/#/instructions?event_id=1234&event_title=Berkeley%20voter%20registration'>
        Try a demo
      </a>
    </p>
  </div>
</div>
