<div class="row instructions">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <p class='lead text-center'>Ride with Bernie</p>
      
    <table>
      <tr>
        <td>
          <span class='big-number'>1</span>
        </td>
        <td>Create a ridesharing link for your event.</td>
      </tr>
      <tr>
        <td>
          <span class='big-number'>2</span>
        </td>
        <td>Send it around to volunteers who have/need rides.</td>
      </tr>
      <tr>
        <td>
          <span class='big-number'>3</span>
        </td>
        <td>Volunteers will sign up and contact each other through the app!</td>
      </tr>
    </table>
    <br>
    <p>
      <a href='/#/events/build' class='btn btn-success btn-block btn-lg'>Create event link</a>
    </p>
    <p class='text-center'>
    <small> Are you a volunteer? <br> Ask your organizer for your event's link. </small>
  </div>
</div>
