<div class="row instructions">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
   
    <img ng-src='logo.png' class='logo' alt='RWB Logo'>
    
    <p class='lead site-title text-center'>RIDE WITH BERNIE</p>
    
    <p class='bump'>
      <a href='http://bernie2016events.org' class='btn btn-success btn-block btn-lg'>Find a rideshare</a>  
    </p>
    
    <p class='text-center' ng-show='!organizer'>
    <small> Find an event on the map and click the CARPOOL button!</small>
    </p>
    
    <hr class='bump'/>
    
    <p class='bump'>
      <a href='/#/events' class='btn btn-danger btn-block btn-lg'>I'm an event organizer</a>
    </p>
    
    <p class='text-center' ng-hide='organizer'>
      <small> Get your rideshare link so you can share it with attendees!</small>
    </p>
    
  </div>
</div>
