<div class="row instructions">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <div class='header'>
      <small>Ridesharing to {{eventTitle}}</small>
    </div>
    <p class='lead text-center'>How ridesharing works</p>
    <table>
      <tr>
        <td>
          <span class='big-number'>1</span>
        </td>
        <td>Fill out a quick profile.</td>
      </tr>
      <tr>
        <td>
          <span class='big-number'>2</span>
        </td>
        <td>Contact nearby drivers or passengers.</td>
      </tr>
      <tr>
        <td>
          <span class='big-number'>3</span>
        </td>
        <td>Confirm with text messages&nbsp;/ phone calls.</td>
      </tr>
    </table>
    <a href='#/profile' class='btn btn-success btn-block btn-lg'>Got it</a>
  </div>
</div>
