<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <div class='header'>
      <small>Ridesharing to {{eventTitle}}</small>
    </div>
    <a href="#/results" class='btn btn-info btn-sm pull-right' ng-if='!profile.newRecord'>People &raquo;</a>
    <a href="#/" class='btn btn-info btn-sm'>&laquo; Back</a>
    <p class='lead text-center'>
      My Profile
    </p>
    <form ng-submit='save()'>
      <div class='form-group'>
        <p> Can you drive? </p>
        <label class="radio-inline">
          <input type="radio" name="driver" ng-model='profile.driver' ng-value='true' value="true" required='required'> Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="driver" ng-model='profile.driver' ng-value='false' value="false" required='required'> No
        </label>
      </div>
      <div class='form-group'>
        <label for="firstName">What's your first name?</label>
        <input type="text" class="form-control" name="firstName" ng-model='profile.firstName' required='required'>
      </div>
      <div class='form-group'>
        <label for="phone">What's your cell phone number?</label>
        <input type="tel" class="form-control" name="phone" ng-model='profile.phone' required='required'>
        <p class="help-block">We’ll need to send you text messages.</p>
      </div>
      <div class='form-group'>
        <label for="location">Where are you leaving from?</label>
        <input type="text" class="form-control" name="location" ng-model='profile.location' required='required'>
        <p class="help-block">Which town, and what part of town?</p>
      </div>
      <div class='form-group' ng-if='profile.driver'>
        <label for="spots">How many spots do you have?</label>
        <select name='spots' class='form-control' ng-model='profile.spots' required='required'>
          <option value='1'>I have room for one other</option>
          <option value='2'>I have room for two others</option>
          <option value='3'>I have room for three others</option>
          <option value='4'>I have room for four others</option>
          <option value='5'>I have room for five others</option>
          <option value='6'>I have room for six others</option>
          <option value='7'>I have room for seven others</option>
        </select>
      </div>
      <div class='form-group' ng-if='!profile.driver'>
        <label for="plus_ones">Are you traveling with others?</label>
        <select name='plus_ones' class='form-control' ng-model='profile.plus_ones' required='required'>
          <option value='0'>No, I just need a ride myself</option>
          <option value='1'>Yup, I'm traveling with 1 other</option>
          <option value='2'>Yup, I'm traveling with 2 others</option>
          <option value='3'>Yup, I'm traveling with 3 others</option>
          <option value='4'>Yup, I'm traveling with 4 others</option>
          <option value='5'>Yup, I'm traveling with 5 others</option>
          <option value='6'>Yup, I'm traveling with 6 others</option>
          <option value='7'>Yup, I'm traveling with 7 others</option>
        </select>
      </div>
      <div class='form-group'>
        <button class='btn btn-danger btn-block btn-lg' ng-if='!profile.newRecord' ng-click='delete()'>Delete my profile</button>
        <button class='btn btn-success btn-block btn-lg'>Save</button>
      </div>
    </form>
  </div>
</div>
