<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <div class='header'>
      <small>Ridesharing to {{eventTitle}}</small>
    </div>
    <a href="#/" class='btn btn-info btn-sm'>&laquo; Back</a>
    <p class='lead text-center'>
      My Profile
    </p>
    <form ng-submit='save()'>
        <p ng-if="profile.driver">You are willing to drive</p>
        <p ng-if="!profile.driver">You are looking for rides</p>
        <p>Name: {{profile.first_name}}</p>
        <p>Cell: {{profile.phone}}</p>
        <p>Location: {{profile.location}}</p>
        <p ng-if='profile.driver'>I have room for <ng-pluralize count="profile.spots" when="{'1': 'one person', 'other': '{} people'}"></ng-pluralize></p>
        <p nf-if='!profile.driver'>I typically travel with <ng-pluralize count="profile.plus_ones" when="{'1': '1 other person', 'other': '{} other people'}"></ng-pluralize></p>
      <div class='form-group'>
        <button class='btn btn-danger btn-block btn-lg' ng-if='!profile.newRecord' ng-click='delete()'>Delete my profile</button>
        <a href="#/profiles/{{profile.uuid}}/edit" class='btn btn-success btn-block btn-lg'>Edit my profile</a>
      </div>
    </form>
  </div>
</div>
