<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <div class='header'>
      <small>Ridesharing to <strong>{{profile.event_title}}</strong></small>
    </div>
    <a ng-href="#/profile/{{profile.uuid}}" class='btn btn-info btn-sm'>&laquo; Profile</a>
    <div ng-if='profiles.length'>
      <p class='lead text-center'>
        People
      </p>
      <div class='row'>
        <div class='col-xs-8 col-xs-offset-2'>
          <p>
            <select name='search' class='form-control' ng-model='search.type' ng-change='closeContactForms()'>
              <option value='drivers'>Displaying drivers</option>
              <option value='passengers'>Displaying passengers</option>
              <option value='everyone'>Displaying everyone</option>
            </select>
          </p>
        </div>
      </div>
      <p ng-if="(profiles | filter: searchFilter).length > 0" class='text-center'>
        <small>Contact any good matches below.</small>
      </p>

      <ul class='profile-results'>
        <li ng-repeat='p in profiles | filter: searchFilter' class='profile-result'>
          <p class='clearfix'>
            <a href class='btn btn-success btn-sm disabled pull-right' ng-if='p.contacted'>
              <i class='fa fa-check'></i>
              Contacted
            </a>
            <a href class='btn btn-info btn-sm pull-right' ng-if='!p.contacted' ng-click='p.contactFormOpen = !p.contactFormOpen'>
              {{ p.contactFormOpen ? "Cancel" : "Contact" }}
            </a>

            {{p.first_name}}
          </p>
          <p>
            <small>{{p.location}}</small>
            <br>
            <small class='text-muted' ng-if='p.driver'>
              Driver -&nbsp;
              <ng-pluralize count='p.seats' when=" { 1: '1 seat available', other: '{} seats available' } "></ng-pluralize>
            </small>
            <small class='text-muted' ng-if='!p.driver'>
              Passenger - {{p.passengers}} total
            </small>
          </p>
          <div ng-show='p.contactFormOpen' class='contact-form'>
            <p>
              Contact {{p.first_name}}
              <br>
              <small>
                We’ll send {{p.first_name}} your contact info, saying:
                <ul>
                  <li ng-if='profile.driver'>You can drive (and have {{profile.seats}} seats)</li>
                  <li ng-if='!profile.driver'>You need a ride (for {{profile.passengers}})</li>
                  <li>Your name</li>
                  <li>Your phone number</li>
                  <li>Your rough location</li>
                </ul>
                Then, wait for {{p.first_name}} to call or text you back
                to coordinate further (or not).
                We suggest a phone call to stay safe!
              </small>
            </p>
            <a href class='btn btn-danger btn-block' ng-disabled="state.contacting" ng-click='contact(p)'>
              {{ state.contacting ? "Contacting..." : "Send my contact info" }}
            </a>
            <a href class='btn btn-info btn-block' ng-click='p.contactFormOpen = !p.contactFormOpen'>Cancel</a>
          </div>
        </li>
      </ul>
    </div>
    <div ng-if="(profiles | filter: searchFilter).length <= 0" class='text-center'>
      <h1 class='text-muted'> Nobody here, yet. </h1>
      <p>
        <small>
          We’ve got your info, and we’ll text you if anyone else wants to share a ride!
        </small>
      </p>
      <br>
      <p>
        <small>
          We’ve also texted you a link to get back here.
        </small>
      </p>
  </div>
</div>
