/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

html, body {
  font-size: 19px;
}

small, .help-block {
  font-size: 16px;
}

.header {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
  small { font-size: 12px; }
}

span.big-number {
  padding: 5px;
  background-color: #147FDF;
  color: white;
  padding: 10px 16px;
  border-radius: 50%;
}

.instructions table {
  td { padding: 5px 5px 20px; }
}

.lead {
  font-size: 24px;
}

.form-group {
  margin-bottom: 31px;
}

label {
  font-weight: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
