/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

html, body {
  font-size: 19px;
}

small, .help-block {
  font-size: 16px;
}

.header {
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  small { font-size: 12px; }
  .btn { margin-right: 3px; }
}

.btn-info,
.btn-info:hover, .btn-info:active, .btn-info:focus,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.btn-info:active.focus,
.btn-info.active.focus {
  background-color: #EFF3F7;
  color: #147fd7;
  border: none;
}

span.big-number {
  padding: 5px;
  background-color: #147FDF;
  color: white;
  padding: 10px 16px;
  border-radius: 50%;
}

.instructions {
  table td { padding: 5px 5px 20px; }
  p.lead { margin: 25px 0; }
}

.lead {
  font-size: 24px;
  margin-bottom: 12px;
}

.form-group {
  margin-bottom: 31px;
}

label {
  font-weight: normal;
}

ul.profile-results {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  > li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    > p { margin: 0; }
    div.contact-form {
      margin-top: 10px;
      padding: 10px 0;
      border-top: 1px solid #ccc;
      ul {
        margin: 9px 0;
      }
    }
  }
  > li:first-child { border-top: 1px solid #ccc; }
}


@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
