<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>RideWithBernie</title>
  <meta property="og:title" content="RideWithBernie.com" />
  <meta property="og:description" content="Ridesharing to Bernie-related events! Sign up as a driver or passenger, then search for a rideshare match to send your contact information and arrange a ride." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://ridewithbernie.com" />
  <!--<meta property="og:image" content="https://ridewithbernie.com/app/assets/images/logo.png" />-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
